[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tvdragon/Desktop/coding]
row=0
col=0

[/home/tvdragon/Desktop/projects]
row=3
col=0

[/home/tvdragon/Desktop/Stuff]
row=2
col=0

[/home/tvdragon/Desktop/University]
row=1
col=0

